In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import holidays

veri=pd.read_excel("C:/Users/HP/Documents/Serpil Veri Bilimi/Zaman Serileri/EVDSDöviz.xlsx")
veri2=pd.read_excel("C:/Users/HP/Documents/Serpil Veri Bilimi/Zaman Serileri/EVDSDövizNan.xlsx")
veri2.drop("Unnamed: 2",axis=1,inplace=True)
veri2

print(veri.isnull().sum())
print(veri2.isnull().sum())
veri2.dtypes
veri2.drop(veri2.index[1546::],inplace=True)
veri2

Tarih              0
TP DK USD S YTL    0
dtype: int64
Tarih          4
USD SATIŞ    485
dtype: int64

           Tarih USD SATIŞ
0     01-01-2020       NaN
1     02-01-2020    5.9507
2     03-01-2020    5.9585
3     04-01-2020       NaN
4     05-01-2020       NaN
...          ...       ...
1541  21-03-2024   32.3876
1542  22-03-2024   32.3688
1543  23-03-2024       NaN
1544  24-03-2024       NaN
1545  25-03-2024   32.0251

[1546 rows x 2 columns]

In [2]:
Tarihler=[]
Gunler=[]

for i in veri2["Tarih"]:
    tarihObje=datetime.datetime.strptime(i,"%d-%m-%Y")
    Tarihler.append(tarihObje)
    saatDilimi=datetime.timezone(datetime.timedelta(hours=3))
    tarihObje=tarihObje.astimezone(saatDilimi)
    gun=tarihObje.strftime("%A")
    Gunler.append(gun)

veri2["Tarih"]=Tarihler
veri2["Günler"]=Gunler
veri2=veri2[["Tarih", "Günler", "USD SATIŞ"]]
veri2
#veri.set_index("Tarih", inplace=True)
#veri.sort_values(by="Tarih",inplace=True)

          Tarih     Günler USD SATIŞ
0    2020-01-01  Wednesday       NaN
1    2020-01-02   Thursday    5.9507
2    2020-01-03     Friday    5.9585
3    2020-01-04   Saturday       NaN
4    2020-01-05     Sunday       NaN
...         ...        ...       ...
1541 2024-03-21   Thursday   32.3876
1542 2024-03-22     Friday   32.3688
1543 2024-03-23   Saturday       NaN
1544 2024-03-24     Sunday       NaN
1545 2024-03-25     Monday   32.0251

[1546 rows x 3 columns]

In [3]:
eksikGozlem=veri2[veri2["USD SATIŞ"].isnull()]
eksikGozlem=eksikGozlem["Günler"].value_counts()
eksikGozlem

Günler
Saturday     221
Sunday       221
Friday        11
Wednesday      7
Thursday       7
Monday         7
Tuesday        6
Name: count, dtype: int64

In [4]:
tatilList=[]
tatil=holidays.Turkey()

for i in veri2["Tarih"]:
    if i in tatil:
        tatilList.append("Resmi Tatildir")
    else:
        tatilList.append("Resmi Tatil Değildir")   

veri2["Tatil"]=tatilList
veri2

C:\Users\HP\AppData\Local\Temp\ipykernel_18184\1926555924.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri2["Tatil"]=tatilList

          Tarih     Günler USD SATIŞ                 Tatil
0    2020-01-01  Wednesday       NaN        Resmi Tatildir
1    2020-01-02   Thursday    5.9507  Resmi Tatil Değildir
2    2020-01-03     Friday    5.9585  Resmi Tatil Değildir
3    2020-01-04   Saturday       NaN  Resmi Tatil Değildir
4    2020-01-05     Sunday       NaN  Resmi Tatil Değildir
...         ...        ...       ...                   ...
1541 2024-03-21   Thursday   32.3876  Resmi Tatil Değildir
1542 2024-03-22     Friday   32.3688  Resmi Tatil Değildir
1543 2024-03-23   Saturday       NaN  Resmi Tatil Değildir
1544 2024-03-24     Sunday       NaN  Resmi Tatil Değildir
1545 2024-03-25     Monday   32.0251  Resmi Tatil Değildir

[1546 rows x 4 columns]

In [6]:
veri2=veri2[~veri2["Günler"].isin(["Saturday","Sunday"])]
eksikGozlem=veri2[veri2["USD SATIŞ"].isnull()]
eksikGozlem=eksikGozlem["Tatil"].value_counts()
print(veri2.isnull().sum())
eksikGozlem

Tarih         0
Günler        0
USD SATIŞ    38
Tatil         0
dtype: int64

Tatil
Resmi Tatildir    38
Name: count, dtype: int64